body {
    background-color: #171010;
}

h1 {
    color: #fff;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    margin-left: 750px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;   
}

label {
    color: #fff;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
}

.input {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}